body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.intro {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.intro img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 24px;
  margin: 10px 0;
}

.intro p,span {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}
.footer a{
color:black;
}